.App {
  text-align: center;
}

.app-title {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title h1 {
  margin: 0;
  font-size: clamp(45px, 9vw, 72px);
  font-family: "Rubik Distressed", cursive;
  color: rgb(119, 211, 241);
  font-weight: 400;
}

.search-box-wrapper {
  height: 100px;
}

.buttons-wrapper {
  height: 90px;
  display: flex;
  justify-content: center;
}

.cards-wrapper {
  margin: 3rem auto;
  padding-top: 1rem;
  height: auto;
}

@media screen and (max-width: 767px) {
  .app-title {
    height: 120px;
  }
}

@media screen and (max-width: 450px) {
  .cards-wrapper {
    margin: 2rem auto;
  }
}
